$fadewhite: #f7f7f7;
$c_gray: #f4f4f4;
$bg_main:#191C26;
$global-color-primary: #FFFFFF;
$global-color-secondary: #FFFFFF;
$global-color-accent: #FFFFFF2B;
$global-color-purple: #7237BD;
$global-color-4d462f5: #DCDCDE;
$global-color-cfa1f76: #F8F8F8;
$global-color-044b931: #070B20;
$global-color-bb890b8: #16163C;
$global-color-639e8dd: #252831;
$global-color-list: #FD0988;
$global-color-a2064a9: #7237BD;
$price-pink : #F1B2D9;
$price-lime: #7DE0D5;
$price-yellow: #FFBB01;