.main-wrapper{
    position: relative;
    width: 100%;
}

.discover{
    padding: 8px 23px;
    font-size: 0.9rem;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 6px;
    background: linear-gradient(to right ,#FD0988 ,#7237BD);
    color: white;
    transition: 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &:hover{
        background: #7237BD;
    }
}

.main-discover{
    padding: 10px 24px;
    cursor: pointer;
    background: linear-gradient(to right ,#FD0988 ,#7237BD);
    text-transform: capitalize;
    color: white;
    border-radius: 6px;
    transition: 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &:hover{
        background: #7237BD;
    }
}

.vidibile{
    visibility: hidden
}


@import "./home-intor.scss";
@import "./header.scss";
@import "./slider.scss";
@import "./offer.scss";
@import "./weAre.scss";
@import "./trusted.scss";
@import "./choose.scss";
@import "./new-choose.scss";
@import "./footer.scss";
@import "./youtube.scss";
@import "./edit.scss";
@import "./social.scss";
@import "./copy.scss";
@import "./tech.scss";
@import "./contact.scss";